---

---




<h2 class="flex gap-x-3 item-center text-3xl font-semibold mb-4">Sobre Mí</h2>

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2021</time>
        <h3 class="text-lg font-semibold text-gray-300 dark:text-white">Certificacion Programador Frontend</h3>
        <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400">Comence un curso de CoderHouse para introducirme en el mundo de la programacion y obtener conocimientos basicos para empezar.</p>
    </li>
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2022-2023</time>
        <h3 class="text-lg font-semibold text-gray-300 dark:text-white">Practicas y suma de conocimientos</h3>
        <p class="text-base font-normal text-gray-600 dark:text-gray-400">Empece a interiorizarme mas por nuevas tecnologias del Frontend tales como Figma, Wordpress y frameworks como ReactJs y Astro, haciendo proyectos y aprendiendo de manera autodidacta.</p>
    </li>
    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2024</time>
        <h3 class="text-lg font-semibold text-gray-300 dark:text-white">Universidad Tecnologica Nacional(UTN)</h3>
        <p class="text-base font-normal text-gray-600 dark:text-gray-400">Estudiando Ingenieria en Sistemas.</p>
    </li>
</ol>





